{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
<section class="container-sm pb-5">
    <div class="container-lg d-flex aligns-items-center justify-content-center my-2">
		<img src="{{ asset('build/img/crea-title-sign-up-300.png') }}" width="300px" height="300px" alt="Sign-up image"/>
	</div>
	<div class="container-lg text-center my-3">
		<h2>Registration</h2>
	</div>

    <div class="row justify-content-center px-5 pb-5">
        <div class="col-12 col-lg-5 col-md-12 col-sm-6 card bg-green-light border-success-ot rounded-3 m-3 p-3">
            <div class="d-flex flex-column justify-content-center m-3 p-3">
                <h4 class="text-white text-center">Nice to see you again</h4>
                <h1 class="text-white text-center fw-bold">WELCOME BACK</h1>
                <p class="text-white" style="text-align:justify">To find out about the durability of your product, don't forget to register.<br>
                    You'll be able to retrieve your history and share your data.</p>
            </div>
            <div class="d-flex justify-content-center my-auto">
                <img class="object-fit-cover" src="../build/img/obso-register.png" width="90%" height="90%" alt="">
            </div>
        </div>

        <div class="col-12 col-lg-5 col-md-12 col-sm-6 card border-success-ot rounded-3 m-3 p-3">
            <form method="POST">
                <div class="py-2">
                    <label class="label" for="name">Full Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>
                <div class="py-2">
                    <label class="label" for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="py-2">
                    <label class="label" for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                </div>
                <div class="py-2">
                    <label class="label" for="#">Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
        </div>
    </div>
</section>

{#    <section class="container">#}
{#        <div class="box-register">#}
{#            <div class="box-image-register">#}
{#                <img class="dim" src="../build/img/obso-register.png" alt="">#}
{#            </div>#}
{#            <div class="registration">#}
{#                {{ form_start(registrationForm) }}#}
{#                <fieldset>#}
{#                    <legend>My identity</legend>#}
{#                    {{ form_row(registrationForm.username) }}#}

{#                    {{ form_row(registrationForm.email) }}#}
{#                </fieldset>#}

{#                <fieldset>#}

{#                    {{ form_row(registrationForm.plainPassword, {#}
{#                        label: 'Password'#}
{#                    }) }}#}
{#                </fieldset>#}


{#                <button type="submit" class="btn btn-outline-success mt-2">Register</button>#}
{#                {{ form_end(registrationForm) }}#}
{#            </div>#}
{#        </div>#}

    {% endblock %}
