<div class="container-fluid bg-light border-top py-3 px-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 BeenDOP, France</p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{{ asset('build/img/obs-tracker-logo-carre-90.png') }}" width="90" height="70" alt="Obsolescence tracker">
        </a>
        <ul class="nav col-md-4 justify-content-end footer">
            <li class="nav-item"><a href="{{ path('app_index') }}" class="nav-link footer px-2">Home</a></li>
            <li class="nav-item"><a href="{{ path('app_research') }}" class="nav-link footer px-2">Research</a></li>
            <li class="nav-item"><a href="{{ path('app_faq') }}" class="nav-link footer px-2">FAQ</a></li>
            <li class="nav-item"><a href="{{ path('app_contact')}}" class="nav-link footer px-2">Contact</a></li>
        </ul>
    </footer>
</div>